.content{
    margin-top:0px;
    margin-left:10px;
}
.service-header{
    background-color:#ddd;
    font-size: 15px;
    width:100%;
    height:40px;
    font-family:"Century Gothic";
    padding: 6.25px;
}
.contact{
    margin-left:10px;
    font-size:17px;      
}
.email {
    margin-left: 30px;
    font-size: 17px;
}
.header-icons {
    float: right;
    font-size: 20px;
    margin-right: 80px;
}
.head__logo {
    margin-top: 8px;
    font-size: 60px;
    font-family: "CASTELLAR";
}
.container {
    width: 1400px;
}
a{
    text-decoration:none; 
    color:black;
}
.box {
    height: 40px;
    border:1px solid grey;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    width:260px;
    margin-top:14px;
    margin-left:25px;
    margin-bottom: 14px;
    float:left;
    padding-left: 0;
}
.input_search{
    background: none;
    outline: none;
    border: none;
    padding-left: 20px;
    color: black;
    width: 230px;
}
b{
    font-size:30px;
}

.NMN{
float:right;
width:50%;
}
.list{
    color:black; 
    width: 120px;
    line-height:30px;
    display:inline-block;
}
a:hover{
    text-decoration:none;
    color:black;
}
a{
    color:black;
    text-decoration:none;
}
.navbar{
    border-bottom: 1px solid #f1f1f1;
    margin: 30px 0 0 0;    
    position: fixed;
    top:0;          
}
.navbar a:hover{
    background-color: white;
}
.navigation-desktop-menu{
    list-style: none;
    font-family:"Century Gothic";
    font-size: 16.25px;
    margin-top: 12px;
    margin-bottom: 0px;
}


.dropdown{
text-align:center;

}

ul li ul.dropdown{
/* Set width of the dropdown */
align-content:left;
background: white;
display: inline-block;
position: relative;
z-index: 999;
left: 0;
}
ul li:hover ul.dropdown{
    display: block;	/* Display the dropdown */
    
}
ul li ul.dropdown li{
    display: block;
}
.dropdown-content{
    display:none;
    position: absolute;
    background-color: #f8f8f8;
    min-width:200px;
    left:0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family:"Time New Roman";
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width:100%;
    height:auto;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
    width: 100%;
}

.dropdown:hover .dropdown-content {
    display: block;
    }

.dropdown:hover .dropbtn {
    background-color: #f8f8f8;
}
.dropbtn{
    /* margin-left: 0px; */
    font-size: 17px;
}
*{box-sizing: border-box;}

/* slideshow container */
.slideshow{box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.myslide {display: none;}
img {vertical-align: middle;
    height: 350px;}

/* Slideshow container */
.slideshow-container {
max-width: 2025.6px;
position: relative;
margin: auto;
}

/* Caption text */
.text {
color: #f2f2f2;
font-size: 15px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

/* The dots/bullets/indicators */
.dot {
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active {
background-color: #717171;
}

/* Fading animation */
.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 4.85s;
animation-name: fade;
animation-duration: 4.85s;
}

@-webkit-keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
.text {font-size: 11px}
}
.title{
    margin: 30px 0;
}
.column{
    float:left;
    width: 100%;
    margin: 0 15px;
}
h5{
    text-align: left;
    margin-left:15px;
}

#navbar a:hover {
    background-color: #ddd;
    color: black;
}
#navbar .dropbtn:hover {
    background-color: #f8f8f8;
    color: black;
}

#navbar a.active {
    background-color: #4CAF50;
    color: white;
}
.content {
    padding: 16px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky + .content {
    padding-top: 60px;
}
.navigation-tab {
    display: inline-block;
    margin-left: 50px;
    font-size: 15px;
    margin-top: 10px;
}
.navbar-default{
    z-index:111;
}
.row .makeup{
    display:flex;
    width:600px;
}
.product_info{
    background-color:white;
}
.product_info p{
    margin:0;
}
.carousel-col img{
    width: 270px;
    height:330px;
    object-fit: cover;
}
.myslide img{
    object-fit:cover;
}
section {
    padding-top: 30px;
}
/* footer */
.footer {
    background-color: #DDDDDD;
    width: 100%;
    height: 300px;
    font-family: sans-serif;
    font-size: 16px;
}
.footer-left {
    padding-top: 50px;
    padding-left: 60px;
}
.footer-center {
    padding-top: 50px;
    padding-left: 130px;
}
.footer-right {
    padding-top: 50px;
    padding-left: 30px;
}
.footer .icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #696969;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}
.footer .icons i{
    margin-top:7px;
    margin-bottom:5px;
}
.footer .footer-center i {
    background-color: #696969;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer .footer-center p {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

.footer .footer-center p span {
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}